body{
    width:95vw;
    height: 95vh;

    display:flex;

    /*
    when the flex-direction is a row
    the justify content will 
    control the horizontal space
    and the align items will control
    the vertical space. Some common
    options for placement/spacing
    are:
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    stretch
    */
   /* flex-direction: row; */

   flex-direction: column;

   /*
 when the flex-direction is a column
    the justify content will 
    control the vertical space
    and the align items will control
    the horizontal space. 
   */
    justify-content: flex-end;
    align-items: center; 
    flex-wrap: wrap;  
    gap: 5px; /*adds space around each flex item*/
}


div {
    width:100px;
    height:100px;
    text-align:center;
    font-size: 50px;
    /*
    flex-grow: 1; /* fill the space 
    flex-shrink:1; /*shrink at same rate
    */
}

#div1 {
    background-color: blue;
  /*flex-grow: 1.5;*/
  order: 500;
}

#div2 {
    background-color: red;
    order: 200;
    flex-basis:200px; /* starting size */
}

#div3 {
    background-color: yellow;
    order: 400;

}

#div4 {
    background-color: green;
    order: 300;
}

#div5 {
    background-color: purple;
    order: 100;

}