/* To indicate the style
 for a specific tag */
 h1 {
     color: blue;
 }

 /* To indicate the style
 for tags that share 
 a class put a . in front
 of the class name */
 .red {
     color:red;
 }

 /*
To indicate the style
for a specific id, 
put a hashtag and then
the id name
 */
 #myParagraph{
     color:green;
 }

 img {
     width: 200px;
     display: block;
 }

 body {
     font-family:'Times New Roman', Times, serif;
 }
td{
     font-size: 15px;
 }

 form div label {
     color: blue;
 }

 p {
     height: 75px;
     width:50%;
 }

 span{
     display: inline-block;
     height: 75px;
     width:75px;
 }